@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply border-0 p-2 px-6 bg-slate-100 rounded-md hover:bg-slate-200;
  }
  .container {
    @apply px-4 mx-auto max-w-8/10 md:max-w-7/10;
  }
  .para {
    @apply text-base font-normal text-gray-900 mb-2;
  }
  .menuLevel {
    @apply transform absolute top-0 left-0 right-0 bottom-0;
  }
  .menuGoBack {
    @apply p-3 pl-4 w-full inline-block bg-slate-900 uppercase text-xs text-yellow-600 tracking-wide cursor-pointer;
  }
  .menuHeader {
    @apply p-4 text-white font-medium tracking-widest uppercase w-80 inline-block border-b border-slate-800;
  }
  .menuCategory {
    @apply p-4 text-white tracking-wide w-80 border-b border-slate-800 flex justify-between items-center bg-slate-700 hover:bg-slate-800;
  }
  .menuCategory > .menuCategory {
    padding-bottom: 0;
  }
  .h1 {
    @apply text-3xl font-medium text-black mb-6;
  }
  .h2 {
    @apply text-xl font-medium text-black my-4;
  }
  .h3 {
    @apply text-lg font-medium text-black mb-2 mt-2;
  }
}

/* .container {
  max-width: 80%;
  @include bp(m-up) {
    max-width: 70%;
  }
}

.mp-pushed .container {
  margin-left: 20px;
} */

/* 
.header {
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-size: 15px;
  height: $headerHeight;
  margin-bottom: 40px;
}

.header .container {
  height: $headerHeight;
  padding-left: 0;
}

.header__toggle {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  @include bp(m-up) {
    left: 20px;
  }
}

.header__toggle a i {
  color: $white;
  font-size: 25px;
}

.header__open {
  display: block;
}

.header__close {
  display: none;
}

.menu-open .header__open {
  display: none;
}

.menu-open .header__close {
  display: block;
}




} */

/* 

.menu__list li:last-child {
  margin-top: 0px;
  @include bp(m-up) {
    margin-top: 0;
  }
}

.menu a {
  padding: 15px;
  color: $white;
  text-decoration: none;
  font-family: 'Montserrat', Arial;
  &:hover {
    color: blanchedalmond;
  }
}

.menu.is-active a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu a.is-active {
  border-bottom: 2px solid $blue;
}

.menu li i {
  font-size: calc(#{$headerHeight} / 2);
  color: #ffffff;
}

.menu__list.admin li:last-child a {
  @include bp(m-up) {
    color: blanchedalmond;
  }
}

.menu__list li:first-child {
  display: none;
  @include bp(m-up) {
    display: block;
  }
}

.menu__list li.menu__list-user {
  display: block;
  background: #223345;
  @include bp(m-up) {
    display: none !important;
  }
}

.menu__list-logo {
  display: inline-block;
  padding-right: 60px;
}

.menu__list-logo span {
  display: none;
  padding: 20px;
  color: white;
} */
